* {
  box-sizing: border-box;
}

body {
	/*background-color: #708090;*/
background: url("http://testmyip.org/images/header-background.jpg");

}

/*img {
	background-size: 100%;
}*/


h1 {
	position: absolute;
	top: -8px ;
	right: 25px;
	font-size: 50px;
	color: white;
} 

h1 span {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
  	padding: 10px; 
  	opacity: 0.7;
}

.spacer {
	padding: 0 10px;
}

.start {
	display: block;
	height: 80px;
	width: 250px;
	border-radius: 5%;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;

	font-size: 40px;
}

#front_page {
	position: relative;
	width: 1000px;
	height:600px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}	

.question_panel {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	margin-top: 250px;
	color: black;
}

nav {
	padding-top: 50px;
	color: grey;
}

.score {
	float: left;
	font-size: 30px;
}

.progress {
	float: right;
	font-size: 30px;
}


.question {
	margin-top: 250px;

}

.answers {
	margin-top: 75px;
}


.start:hover {
	background-color: #696969;
	color: white;
	cursor: pointer;
}

.choice_1, .choice_2, .choice_3, .choice_4 {
	display: block;
	margin-top: 20px;
	height: 55px;
	width: 450px;
	background-color: #5f9ea0	;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.choice_1:hover, .choice_2:hover, .choice_3:hover, .choice_4:hover {
	background-color: gray;
	border: solid grey; 
	color: white;	
	cursor: pointer;
}

.selected {
	background-color: #006400;
	border: none;
}

.wrong_answers {
	background-color: #b0e0e6;
	opacity: 0.2;
}

#submit {
	display: block;
	height: 60px;
	width: 175px;
	border-radius: 5%;
	border: none;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #b8860b	;
	font-size: 20px;
}

.next {
	display: block;
	height: 40px;
	width: 175px;
	border-radius: 5%;
	border: none;
	margin-top: 80px;
	float: right;
	font-size: 20px;
}

.verdict {
	font-size: 55px;
	text-align: center;
	margin-top: 250px;
	color: #f0e68c	;
}

.final-results {
	font-size: 55px;
	text-align: center;
	margin-top: 250px;
	color: #f0e68c	;
}