* {
  box-sizing: border-box;
}
.background {
	background: black;
}

.background_image_homepage {
	width: 100%;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 250px;
}

h1 {
	position: absolute;
	top: -8px ;
	right: 25px;
	font-size: 50px;
	color: white;
} 

h1 span {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
  	padding: 10px; 
  	opacity: 0.7;
}

.spacer {
	padding: 0 10px;
}

.start {
	display: block;
	height: 80px;
	width: 250px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: grey;
	font-size: 40px;
	outline: none;
}

.start:hover {
	background-color: #1D1917;
	color: grey;
	cursor: pointer;
	border: none;
}

.front_page {
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}	

/* --- QUESTIONS --- */

.question_panel {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	text-align: center;
	margin-top: 250px;
	color: black;
}

nav {
	padding-top: 50px;
	color: grey;
}

.score {
	float: left;
	font-size: 30px;
	color: #C48102;
	padding-left: 10%;
}

.progress {
	float: right;
	font-size: 30px;
	padding-right: 10%;
}


.question {
	margin-top: 250px;
	color: grey;

}

.answers {
	margin-top: 75px;
}

.choice_1, .choice_2, .choice_3, .choice_4 {
	display: block;
	margin-top: 20px;
	height: 55px;
	width: 100%;
	background-color: #253967;
	color: grey;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 3px;
}

.choice_1:hover, .choice_2:hover, .choice_3:hover, .choice_4:hover {
	background-color: #638FD3;
	border: none; 
	color: white;	
	cursor: pointer;
}

.selected {
	background-color: #638FD3;
	color: white;
	border: none;
	outline: none;
}

.selected:hover {
	background-color: #638FD3;
	color: white;
	border: none;
	outline: none;
}

.wrong_options {
	background-color: #638FD3;
	color: white;
	opacity: 0.2;
}

.wrong_options:hover {
	cursor: default;
}

.wrong_answer {
	background-color: #610A61;
	color: white;
	opacity: 0.6;
}

.wrong_answer:hover {
	background-color: #610A61;
	color: white;
	opacity: 0.6;
	cursor: default;
}

.submit {
	display: block;
	height: 60px;
	width: 175px;
	border-radius: 3px;
	border: none;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #C48102	;
	opacity: 1;
	font-size: 20px;
}

.disabled {
	cursor: not-allowed;
	background-color: #C48102	;
	opacity: 0.4;
}

.next {
	display: block;
	height: 60px;
	width: 175px;
	border-radius: 3px;
	border: none;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #C48102;	
	font-size: 20px;
}

.result {
	display: block;
	height: 60px;
	width: 175px;
	border-radius: 5%;
	border: none;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.verdict {
	font-size: 55px;
	text-align: center;
	margin-top: 150px;
}

.correct {
	color: #C48102	;
}

.incorrect {
	color: #610A61	;
}


/* ---FINAL RESULTS--- */
.result_page {
	background-size: cover;
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.background_image_verdict {
	width: 100%;
	height: 80%;
	padding-left: 5px;
	padding-right: 5px;
}

.result_button {
	display: block;
	height: 80px;
	width: 250px;
	border-radius: 3px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: grey;
	font-size: 40px;
}

.final-results {
	font-size: 55px;
	text-align: center;
	margin-top: 250px;
	color: #C48102	;
}

.reset {
	display: block;
	height: 80px;
	width: 250px;
	border-radius: 3px;
	margin-top: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: grey;
	font-size: 40px;
	outline: none;
}

.reset:hover {
	background-color: #1D1917;
	color: grey;
	cursor: pointer;
	border: none;
}

@media only screen and (max-width: 900px) {
	h1, .final-results {
		font-size: 40px;
	}
}

@media only screen and (max-width: 700px) {
	h1, .final-results, .reset {
		font-size: 30px;
	}

	.reset, .start {
		width: 200px;
		height: 60px;
	}
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 18px;
	}

	.score, .progress {
		font-size: 25px;
	}
	.background_image_homepage {
		margin-bottom: 650px;
	}
}

@media only screen and (min-width: 640px) {
	.choice_1, .choice_2, .choice_3, .choice_4 {
		max-width: 700px;
	}
	.result_page {
		max-width: 90%
	}
}

@media only screen and (min-width: 1200px) {
	.front_page  {
		max-width: 85%;
		margin-bottom: 80px;
	}
}

@media only screen and (min-width: 1500px) {
	.result_page {
		max-width: 75%
	}
	.background_image_homepage {
		height: 65%;
		margin-bottom: 50px
	}

	.front_page {
		margin-top: 10px;
		
	}
}

@media only screen and (min-width: 1800px) {
	.background_image_homepage   {
		margin-bottom: 5px;
	}
}