* {
  box-sizing: border-box;
}

body {
	background-color: #708090;
}

.main_container {
	margin-left: auto;
	margin-right: auto;
}
.image {
	position: relative;
	width: 100%;
}

h1 {
	position: absolute;
	top: 30px;
	right: -175px;
	font-size: 50px;
	color: white;
	margin-top: 10px;
} 
.start {
	display: block;
	height: 80px;
	width: 250px;
	border-radius: 5%;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 40px;
}

#front_page {
	margin-top: 20%;
}	


h2 {
	text-align: center;
	margin-top: 250px;
	color: black;
}

nav {
	padding-top: 50px;
	color: black;
}

.score {
	float: left;
	font-size: 30px;
}

.progress {
	float: right;
	font-size: 30px;
}


.question {
	margin-top: 250px;

}

.answers {
	margin-top: 75px;
}
body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.start:hover, .submit_hov:hover {
	background-color: #4682b4;
	cursor: pointer;
}

.choice_1, .choice_2, .choice_3, .choice_4 {
	display: block;
	margin-top: 20px;
	height: 45px;
	width: 150px;
	background-color: #add8e6;
	font-size: 16px;
}

.choice_1:hover, .choice_2:hover, .choice_3:hover, .choice_4:hover {
	background-color: gray; 
	color: white;	
	cursor: pointer;
}

.selected {
	background-color: #808000;
}

#submit {
	display: block;
	height: 60px;
	width: 175px;
	border-radius: 5%;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	background-color: #808000;
	font-size: 20px;
}

.next {
	display: block;
	height: 40px;
	width: 175px;
	border-radius: 5%;
	margin-top: 80px;
	float: right;
	font-size: 20px;
}